@font-face {
  font-family: 'TmonMonsori';
  src: url('../fonts/TmonMonsori.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 100px;
    background-color: #2b2000 !important;
    font-size: 14px; /* 전체 폰트 크기 조정 */
}

.main-title {
    display: block;
    text-align: center;
}

.ck-editor__editable {
    min-height: 400px;
}

.button-container {
    text-align: right;
    font-size: 16px; /* 버튼 폰트 크기 조정 */
    padding: 10px 20px;
}

#title-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#title-container label,
#title-container input[type="date"],
#title-container input[type="text"] {
    margin-right: 10px;
    margin-bottom: 10px;
}

#title-label {
    width: 100px;
    font-size: 20px;
    color: #d4b584; /* 라벨 폰트 크기 조정 */
}

#title {
    flex: 1;
    padding: 8px; /* 입력창 내부 여백 조정 */
    font-size: 16px; /* 입력창 폰트 크기 조정 */
    border: 2px solid #ccc;
    border-radius: 5px;
}

.button-container input[type='submit'] {
    display: inline-block;
    padding: 7px 14px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px; /* 버튼 폰트 크기 조정 */
    font-family: 'TmonMonsori', sans-serif;
}
