<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>EzJam 이벤트 일정</title>
    <!-- <link rel="stylesheet" type="text/css" href="static/css/main.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="static/css/community.css"> -->
     <link rel="stylesheet" type="text/css" href="static/css/base.css">
    <link rel="stylesheet" type="text/css" href="static/css/calendar.css">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/ko'></script>
    <script>
        function showPopup() {
            alert('coming soon');
        }
    </script>
</head>
<body>  
  <div class="navbar">
    <div class="menu">
        <ul>
            <li><a href="/notice">공지사항</a></li>
            <li><a href="/community">자유게시판</a></li>
            <li><a href="/"><img src="static/logos/main_logo.png" alt="Main Logo" style="height: 70px;"></a></li>
            <li><a href="#" onclick="showPopup()">랭킹</a></li>
            <li><a href="/event">이벤트</a></li>
        </ul>            
    </div>
    <div class="auth-buttons">
        {% if not loginInfo %}
        <button class="auth-button" onclick="location.href='/login'">로그인</button>
        <button class="auth-button" onclick="location.href='/signup'">회원가입</button>
        {% endif %}
        {% if loginInfo %}
        <span>{{loginInfo}}</span>
        <button class="auth-button" onclick="location.href='/logout'">로그아웃</button>
        {% endif %}
    </div>
</div>
    <div class="event-content" >
        <div id="event-schedule">
            <br>
            <h1><strong><a style="color:#4CAF50;">이벤트 일정</a></strong></h1>
            <div class='button-container'>
              {% if isUserAdmin == True %}
              <button id='upload-button' onclick="location.href='/write_event'">이벤트 공지 작성(관리자 전용)</button>
              {% endif %}
            </div>
        </div>    
            <div id='calendar'></div>
        </div>
    </div>
    <script>
        // fullCalendar 관련 코드
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'ko', // 한글 로케일 설정
                events: '/get_event_info', // 서버에서 이벤트 정보 받아오기
                eventClick: function(info) {
                    // 이벤트를 클릭하면 해당 이벤트의 URL로 이동
                    if (info.event.id) {
                        window.location.href = 'post_event/' + info.event.id;
                    }
                }
            });
            calendar.render();
        });

    </script>
</body>
</html>
